<div class="thumbnails-page">
  <ul class="videos">
    {{#each model as |video|}}
      <li>{{link-to video.title 'tools.thumbnails.thumbnail' video}}</li>
    {{/each}}
  </ul>
  <div class="details">
    {{outlet}}  
  </div>
</div>