{{#if (and image (eq position 'left'))}}
  <div class="box-callout--img-left">
    <img src={{image}}>
  </div>
{{/if}}
<div class="box-callout--content">{{yield}}</div>
{{#if (and image (eq position 'right'))}}
  <div class="box-callout--img-right">
    <img src={{image}}>
  </div>
{{/if}}  