<div class="box_content">
{{#if image}}
  <box class="box-content--img">
    <img src={{image}}>
  </box>
{{/if}}
{{#if image}}
  <box class="box-content--content">{{yield}}</box>
{{else}}
  <box class="box-content--content">{{yield}}</box>
{{/if}}
</div>
