{{#each sponsors as |sponsor|}}
  <a class="gem-sponsor-links--link" href={{sponsor.link}}><img src={{sponsor.featured.medium.url}} alt="{{sponsor.companyName}} Logo" class="gem-sponsor-links--image"></a>
{{/each}}