<div class="footer-logo">
  <img src="/assets/images/gem-logo-inverted.png" alt="Global Ember Meetup Logo">
</div>
<div class="footer-links">
  {{yield}}
</div>

<hr>

<p>Made with <span class="red">â¤</span> by Taras & Tracy of <a href="https://www.embersherpa.com">EmberSherpa</a>.</p>