<table>
  <tbody>
    {{yield (hash
      heading=(component 'gem-agenda-item' tagName='tr' classNames='gem-agenda-heading')
      item=(component 'gem-agenda-item' tagName='tr')
    )}}
  </tbody>
</table>