{{#event-status episode
  as |status|
}}
  {{#if status.isFinished}}
    {{#link-to 'videos' (query-params episode=episode.slug tag=null category=null page=1) class="button watch-videos"}}
      Watch
    {{/link-to}}
  {{else if status.isHappening}}
    <a href={{episode.bigmarker}} class="button bigmarker-live">
      <span class="bigmarker-logo">BigMarker</span>
      <span class="sub-text">Happening Now on</span>
    </a>
  {{else}}
    <a href={{episode.bigmarker}} class="button bigmarker-rsvp">
      <span class="sub-text">RSVP on</span>
      <span class="bigmarker-logo">BigMarker</span>      
    </a>
  {{/if}}
{{/event-status}}