<div class="footer-logo">
  <img src="/assets/images/gem-logo-inverted.png" alt="Global Ember Meetup Logo">
</div>
<div class="footer-links">
  <ul>
    <li><h3>Content</h3></li>
    <li><a href="/videos">Videos</a></li>
    <li><a href="/episodes">Episodes</a></li>
    <li><a href="/conferences">Conferences</a></li>
  </ul>
  <ul>
    <li><h3>Contribute</h3></li>
    <li><a href="/speak">Give a talk</a></li>
    <li><a href="/sponsorship">Sponsorship</a></li>
  </ul>
  <ul>
    <li><h3>Follow Us</h3></li>
    <li><a href="https://twitter.com/embermeetup">Twitter</a></li>
    <li><a href="https://vimeo.com/globalembermeetup">Vimeo</a></li>
  </ul>
</div>

<hr>

<p>Made with <span class="red">❤</span> by Taras & Tracy of <a href="https://www.embersherpa.com">EmberSherpa</a>.</p>