<nav>
{{link-to 'Home' 'index' classNames="go-home"}}
{{link-to 'Conferences' 'conferences'}}
{{link-to 'Episodes' 'episodes'}}
{{link-to 'Videos' 'videos' (query-params page=1 category=null tag=null)}}
</nav>