{{#with (vimeo-player-url video) as |playerUrl|}}
  {{#if playerUrl}}
  <iframe src={{playerUrl}} frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  {{else}}
  <span class="error">Could not extract vimeo id from {{video}}</span>
  {{/if}}
{{/with}}
