<div class="subscription-form">
  {{ember-chimp
    buttonText="Subscribe"
    placeholder="Email address..."
    formAction="//embersherpa.us12.list-manage.com/subscribe/post?u=81e8e3fa2a6f79fe97467029a&amp;id=05fb609e3f"
  }}
</div>