.button { 
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  
  text-decoration: none; 
  line-height: 28px;
  
  &.red-button {    
    background: $red;
    color: white;
  }
  
  &.small {
    font-size: 22px;
    line-height: 22px;
  }
  
  &.red-outline {
    border: 1px solid $red;
  }

  &.sky-button {
    background: skyblue;
    color: white;
  }
  
}