$red: #EF5950;
$skyBlue: #DCF5FF;
$blue: #6FD1D8;
$darkerBlue: #40AFB2;
$navyBlue: #1D1737;
$dark-gray: #333;
$light-gray: #f1f1f3;
$dark-green: #16A24D;
$light-green: #50EF8E;

$base-font-color: $dark-gray;

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.darker-blue {
  color: $darkerBlue;
}

.navy-blue {
  color: $navyBlue;
}

.skyBlue {
  color: $skyBlue;
}

.dark-grey {
  color: $dark-gray;
}

.white {
  color: white;
}

.sky-blue-background {
  background-color: skyBlue;
}