// @import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Define your breakpoints
$desktop: new-breakpoint(min-width 1400px);
$tablet: new-breakpoint(min-width 768px);
$mobile: new-breakpoint(max-width 480px);