body, h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
}

body {
  font-size: 24px;
}

h1 {
  font-size: 48px;
  color: $red;
}

h2 {
  font-size: 36px;
  color: $red;
}

h3 {
  font-size: 28px;
  color: $red;
}

small {
  font-size: 18px;
}

.font-bree-semibold {
  font-family: 'Bree', sans-serif;
  font-weight: 600;
}