$maxWidth: 1400px;
$base-border-radius: 3px;
$base-spacing: 1.5em;

@import "bourbon";
@import "neat";
@import "grid-settings";

@import "ember-power-select";

@import '_colors';
@import '_type';
@import '_buttons';

$base-separator: 1px solid transparentize($dark-gray, 0.9);

@import 'pages/_conference';
@import 'pages/_videos';
@import 'pages/_video';
@import 'pages/_show';

@import 'components/_nav-header';
@import 'components/_hero-image';
@import 'components/_box-content';
@import 'components/_box-callout';
@import 'components/_gem-topics';
@import 'components/_gem-agenda';
@import 'components/_gem-sponsor-links';
@import 'components/_gem-footer';
@import 'components/_gem-cards';
@import 'components/_responsive-vimeo-video';
@import 'components/_video-card';
@import 'components/_gem-pagination';
@import 'components/_gem-search-tools';
@import 'components/_episode-strip';
@import 'components/_breadcrumb';

a {
  color: $darkerBlue;
  text-decoration: none;
}

.max-width {
  max-width: $maxWidth;
}

.auto-margin {
  margin-left: auto;
  margin-right: auto;
}

.gem-article {
  margin: 0 30px;
}

.no-top-margin {
  margin-top: 0;
}