.box-content {
  @include outer-container(100%);
  max-width: $maxWidth;
  margin: 0 auto;

  padding: 30px;
  
  &.has-image .box-content--content {
    // padding-left: 45px;
  }
}

.box-content--img { 
  // $tablet: new-breakpoint(min-width 768px);
  @include media($tablet) {
    @include span-columns(4);
  }
}

.box-content--content {
  @include media($tablet) {
    @include span-columns(8);
  }
}