.box-content {
  @include outer-container(100%);
  max-width: $maxWidth;
  margin: 0 auto;

  padding: 30px;
  
  &.has-image .box-content--content {
    padding-left: 45px;
  }
}

.box-content--img {
  @include span-columns(3);
}

.box-content--content {
  @include span-columns(9);
}