.box-callout {
  @include outer-container(100%);
  margin: $base-spacing * 1.5 0;
  
  .box-callout--content {
   & > h1, & > h2, & > h3, & > h4 {
      margin-top: 0;
    }    
  }
  
  &.is-red {
    color: white;
    background-color: $red;
    
    h1, h2, h3, h4, h5 {
      color: white;
      margin-bottom: 0;
      margin-top: 0;
    }
    
    a {
      color: white;
    }
  }
  
  &.is-sky {
    background-color: $skyBlue;
    padding-bottom: 30px;
    
    grid {
      max-width: 600px;
    }
  }
  
  &.is-sky-blue {
    background-color: $skyBlue;
  }

  .box-callout--img-left {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }

  .box-callout--img-right {
    float: right;
    margin-right: 15px;
    margin-left: 15px;
  }

  .box-callout--img-left, .box-callout--img-right {
    line-height: 0;
  }
  
}