.gem-pagination {
  text-align: center;
  
  a, &--current {
    display: inline-block;
    padding: 10px 20px;
    border: $base-separator;
    
    color: $darkerBlue;
    text-decoration: none;
    text-transform: lowercase;
  }
}