.gem-topics {
  
  .gem-topics--topic {
    $gem-topics-gutter: 1.4em;
    $gem-topics-image-padding: 0;
    $gem-topics-image-width: 100%;
    $gem-topics-color: $base-font-color;
    $gem-topics-detail-color: transparentize($gem-topics-color, 0.5);
    $gem-topics-image-vert-alignment: top;

    // border-bottom: $base-separator;
    display: table;
    margin-bottom: $base-spacing;
    width: 100%;
    @include outer-container(100%);

    font-size: 21.7px;

    .gem-topics--image,
    .gem-topics--content {
      // display: table-cell;
      vertical-align: $gem-topics-image-vert-alignment;
    }

    .gem-topics--image {
      @include span-columns(2);
      line-height: 0;
      
      > img {
        border-radius: $base-border-radius;
        height: auto;
        max-width: none;
        padding: $gem-topics-image-padding;
        width: $gem-topics-image-width;
      }

      .gem-topics--reverse-order & {
        padding-right: 0;
        padding-left: 10px;
      }
      
    }

    .gem-topics--content {
      @include span-columns(10);

      p.gem-topics--detail {
        color: $gem-topics-detail-color;
        font-size: 0.9em;
        font-style: italic;
      }
    }
    
    .gem-topics--description, .gem-topics--description p {
      line-height: 1.5em;
      margin-bottom: 0;
    }
  
    .gem-topics--title {
      font-size: 1em;
      margin: 0 0 0.5em 0;
    }
    
    .gem-topics--links a {
      color: $blue;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
}


.gem-topics.is-aside {
    padding: 12px;    
    background-color: $light-gray;    
    
    .gem-topics--title {
      font-size: 24px;
      margin-bottom: 0;
    }
    
    .gem-topics--description, .gem-topics--description p {
      margin-top: 0;
      font-size: 18px;
      line-height: 18px;
    }
    
    .gem-topics--image {
      margin-top: 4px;
      @include span-columns(3);
    }
    
    .gem-topics--content {
      @include span-columns(9);
    }
  }
