.nav-header {
  background: $skyBlue;
  
  nav {
    @include clearfix;
    padding-bottom: 5px; 
  }

  a, .toggle-menu {
    color: $darkerBlue;
    text-transform: uppercase;
    text-decoration: none;
  }

  .go-home {    
    text-indent: -2000px;
    background: url(images/gem-flag.svg) center top no-repeat;
  }

  .toggle-menu {
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 10px;
    
    background: none;
    border: none;
  }
  
  a.active {
    font-weight: bold;
  }

  @include media($mobile) {
    text-align: right;

    a {
      display: block;
      padding: 10px 0;
    }
  }
  
  @include media($tablet) {
    text-align: right;

    a {
      display: block;
      padding: 10px 0;
    }
  }
    
  @include media($desktop) {
    text-align: left;

    a {
      display: inline-block;
      padding: 40px 20px;
    }
  }
  
}

.nav-header.no-hero { 
  .go-home {
    display: block;
    float: left;
    width: 70px;
    height: 100px;
    padding: 40px 20px;
  }
}

.nav-header.with-hero {
  h1 {
    position: absolute;
    text-align: center;
    width: 100%;
  }
  
  .go-home{
    position: absolute;
    top: 0;
      
    @include media($mobile) {
      left: 20px;
      height: 70px;
      width: 49px;
    }

    @include media($tablet) {
      left: 20px;
      height: 120px;
      width: 84px;
    }
      
    @include media($desktop) {
      left: 120px;
      height: 180px;
      width: 126px;
    }   
  }
}