header {
  background: $skyBlue;
  padding: 0 20px;
  
  nav {
    @include clearfix;
    padding-bottom: 5px; 
  }

  a, .toggle-menu {
    color: $darkerBlue;
    text-transform: uppercase;
    text-decoration: none;
  }

  .toggle-menu {
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 10px;
    
    background: none;
    border: none;
  }

  .go-home {
    display: block;
    float: left;
    width: 70px;
    height: 100px;
    padding: 40px 20px;
    
    text-indent: -2000px;
    background: url(images/gem-flag.svg) center top no-repeat;
  }

  @include media($mobile) {
    text-align: right;

    a {
      display: block;
      padding: 10px 0;
    }
  }
  
  @include media($tablet) {
    text-align: right;

    a {
      display: block;
      padding: 10px 0;
    }
  }
    
  @include media($desktop) {
    text-align: left;

    a {
      display: inline-block;
      padding: 40px 20px;
    }
  }
  
}