.nav-header {
  background: $red;

  nav {
    @include clearfix;
    padding-bottom: 5px;
  }

  a, .toggle-menu {
    color: $light-gray;
    text-decoration: none;
  }

  .go-home {
    text-indent: -2000px;
    background: url(images/gem-flag.svg) center top no-repeat;
  }
}

.nav-header.no-hero {
  nav {
    padding: 0 20px;
    @include media($mobile) {
      padding-left: 70px;
    }

    @include media($tablet) {
      padding-left: 100px;
    }

    @include media($desktop) {
      padding-left: 100px;
    }
  }

  .go-home{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @include media($mobile) {
      height: 100px;
      width: 70px;
      left: 10px;
    }

    @include media($tablet) {
      height: 100px;
      width: 70px;
      left: 20px;
    }

    @include media($desktop) {
      height: 120px;
      width: 84px;
    }
  }

  .toggle-menu {
    display: inline-block;
    padding: 10px;

    background: none;
    border: none;
  }

  a.active {
    font-weight: bold;
  }

  @include media($mobile) {
    text-align: right;

    a {
      display: block;
      padding: 10px 0;
    }
  }

  @include media($tablet) {
    text-align: right;

    a {
      display: block;
      padding: 10px 0;
    }
  }

  @include media($desktop) {
    text-align: left;

    a {
      display: inline-block;
      padding: 20px;
    }
  }
}

.nav-header.with-hero {

  .go-home{
    position: absolute;
    top: 0;
    z-index: 1;

    @include media($mobile) {
      left: 20px;
      height: 70px;
      width: 49px;
    }

    @include media($tablet) {
      left: 20px;
      height: 120px;
      width: 84px;
    }

    @include media($desktop) {
      left: 120px;
      height: 180px;
      width: 126px;
    }
  }
}

.hero-style {
  .hero-title {
    @extend .font-bree-semibold;

    display: block;
    width: 100%;

    text-align: center;
    color: $red;
  }
}

.nav-header.with-hero {
  @include media($mobile) {
    .hero-title {
      font-size: 64px;
      line-height: 64px;
    }
  }

  @include media($tablet) {
    .hero-title {
      font-size: 72px;
    }
  }

  @include media($desktop) {
    .hero-title {
      font-size: 88px;
    }
  }
}
