.video-card {
  background: $skyBlue;
  height: 100%;
  width: 100%;
}

.video-card--title, .video-card--presenter {
  position: absolute;
}

.video-card--title {
  
}

.video-card--presenter {
  width: 100%;
  top: 250px;
}

.video-card--presenter-avatar {
  border-radius: 100px;
  max-width: 125px;
  float: left;
}

.video-card--presenter-name {
  margin-left: 125px;
}

.video-card--presenter-twitter {
  margin-left: 125px;  
}