.video-card {
  background: $skyBlue;
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  
  &--header, &--body, &--footer {    
    display: flex;
    align-content: center;
    justify-content: space-around;
  }
  
  &--header {
    flex: 1;
    margin-top: 10px;
  }
  
  &--body {
    flex: 2;
  }

  &--footer {
    flex: 1;
    margin-bottom: 10px;    
  }

  &--title {
    margin: auto;
    padding: 0 10%;
    
    text-align: center;
  }

  &--presenter {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;    
  }

  &--info {
    padding-left: 15px;
    margin: auto 0;
  }

  &--presenter-avatar {
    border-radius: 15px;

    height: 80px;
    width: 80px;
  }

  &--presenter-name {
    margin: 0;
    color: $darkerBlue;
    font-weight: bold;
  }

  &--presenter-twitter {  
    color: $blue;
  }
  
  .button.small {
    height: 44px;
    display: flex;
    margin: auto;
  }
  
  &.is-not-small {
    @include media($tablet) {
      &--title, &--presenter-name {
        font-size: 40px;      
      }      
    }    
  }

}
