.episodes-page {
  @include outer-container(100%);
  padding: 20px;
  
  $gw-column: 100px;
  $gw-gutter: 20px;
 
  @import 'grid/private';
 
  &--strip {
    @include clearfix;
    
    margin-bottom: $base-spacing;
    padding-top: $base-spacing;
    
    border-top: 3px solid transparentize($dark-gray, 0.9);    
  }
  
  .episodes-pages--frame {
    @include span-columns(4);
    height: 100%;
    position: relative;      
  }
  
  .episode-title-frame {    
    
    .episode-date {
      color: $darkerBlue;      
    }
    
    .episode-title {
      margin: -0.25em 0 0.25em 0;
      
      &, a {
        text-decoration: none;
        font-size: 28px;
        color: $red;
      }
    }
  }
  
  .frame-title {
    margin: 0 0 $base-spacing / 2 0;
    padding-bottom: 0.25em;
        
    color: black;
    font-weight: lighter;
    
    border-bottom: $base-separator;
  }
  
  .frame-rows {
    @include clearfix;
    margin: 0;
    padding: 0;
        
    list-style-type: none;
  }
  
  .frame-row {
    @include clearfix;
    height: 65px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: $base-separator;
    
    .row-title {
      margin: 0;
      font-size: 24px;
    }
    
    p {
      margin: 0;
      font-size: 18px;
    }
    
    &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  
  .row-thumbnail {
    height: 60px;
    float: left;
    border-radius: $base-border-radius;
    margin-right: 10px;
    padding-top: 2px;
  }
  
}