header.rock-and-roll-ember {
  background: url(images/RARE-Background.svg) #0A1D25 no-repeat center;
  height: 658px;

  text-align: center;

  .hero-image {
    padding-top: 60px;
    img {
      height: 543px;
    }
  }

  .hero-sub-title {
    display: inline-block;
    margin-top: -60px;
    max-width: 600px;
    
    font-family: 'Dosis';
    font-size: 36px;
    color: white;
    font-weight: 100;
  }
}

section.rock-and-roll-ember {

  .line-height-64px {
    line-height: 64px;
  }

  .img-padding-top-10px {
    .box-callout--img-right {
      padding-top: 10px;    
    }
  }
  
  .content-padding-top-15px {
    .box-callout--content {
      padding-top: 15px;
    }
  }
  
  .float-right {
    float: right;
  }

  .video-list {
    li {
      list-style: none;
      background: url(images/RARE-film.png) left center no-repeat;
      padding: 5px 0px 5px 60px;
      margin-bottom: 5px;
    }
  }

  .smaller-font {
    font-weight: 100;
    font-size: 80%;
  }

  .rare-lightning-background {
    background: url(images/RARE-lightning-background.svg) center no-repeat $skyBlue;
    
    .box-content--content {
      padding: 30px 0;
      text-align: center;
    }

    p {
      font-size: 120%;      
    }
  }

  .two-columns {
    @include outer-container(100%);

    .column {
      text-align: center;
      h3 {
        text-align: center;
        font-weight: 100;
      }
      img {
        max-height: 300px;
      }
      @include media($mobile) {
        @include span-columns(12);
      }
      @include media($tablet) {
        @include span-columns(6);
      }
    }
  }

  .img-max-height-150px {
    img {
      max-height: 150px;
    }
  }

  .date-list {
    margin: 0;
    dt, dd {
      display: inline-block;
      padding: 5px 0;
    }
    dt {
      width: 220px;
    }
  }

  .content-max-width-600px {
    .box-content--content {
      max-width: 600px;
      margin: 0 auto;      
    }
  }

}