.thumbnails-page {
  padding: 20px;
  
  .video-card-holder {
    width: 600px;
    height: 300px;
    padding: 20px;
  }
  
  .videos {
    max-height: 700px;
    overflow: auto;
    float: left;
  }
   
  .videos li {
    list-style: none;
  }
 
  .details {
    float: left;
  }   
}