<div class="video-cards">
  {{#each model as |video|}}
    <div class="medium-card-holder">
      {{video-card model=video show-footer=true}}
    </div>
  {{/each}}
</div>

{{gem-pagination page=model.meta.page total-pages=model.meta.total-pages}}