<main>
{{bread-crumbs tagName="ol" linkable=true}}

{{#box-content}}
  <h2>GEMconf Code of Conduct</h2>
  <p>
  We're committed to being an inclusive, welcoming conference for everyone. Anyone asked to stop any harassing behavior is expected to comply immediately.
  </p>
  <p>
    We reserve the right to warn or expel offenders from the conference with no refund, and to bar them from future participation, both speaking and attendance.
  </p>
  <p>
    If you are being harassed, see someone else being harassed, or have any other concerns while at the event, please tell a staff member immediately.
  </p>
  <p>
    For less urgent issues, you are also welcome to email the organizers (directly, or you can reply to any of the email reminders and announcements we've sent), though we do encourage reporting any issues promptly.
  </p>
  <p>
    Please read through the Ember.js <a href="http://emberjs.com/guidelines/">Project Community Guidelines</a> for a more detailed overview of the intent and goals of the Ember community at large. We stand by the principles of the community CoC and consider them part of our CoC as well.
  </p>
  <p>
    For purposes of clarity, harassment includes, but is not strictly limited to: offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
  </p>
  <p>
    This Code of Conduct was adopted and adapted from EmberConf's own <a href="http://emberconf.com/about.html">Code of Conduct</a>.
  </p>
{{/box-content}}

</main>