{{hero-image hero=model.hero}}  

<section class="conference">
  <aside>
    {{dynamic-render model.sidebar model=model}}
  </aside>
  <article>
    {{dynamic-render model.content model=model}}
  </article>
</section>