{{head-data
  title=model.title
  image='/assets/images/GEMconf-SF-Header.svg'
  heroTitle=model.heroTitle
  heroSubTitle=model.heroSubTitle
  classNames="gemconf"
  buttonUrl="https://www.twitch.tv/global_ember_meetup"
  buttonText="Watch Stream"
}}
{{remember-document-scroll key="gemconf"}}

<section class="conference">
  {{liquid-outlet}}
</section>