{{head-data
  title=model.title
  withHero=true
  heroTitle=model.heroTitle
  heroSubTitle=model.heroSubTitle
  classNames="gemconf hero-style"
  buttonUrl="https://www.eventbrite.com/e/global-ember-meetup-conference-live-in-the-triangle-gemconf-tickets-22584175878"
  buttonText="RSVP"
}}
{{remember-document-scroll key="gemconf"}}

<section class="conference">
  {{liquid-outlet}}
</section>