{{head-data
  title="Newsletter"
}}

<h2>Be the first to know about Global Ember Meetup events and latest videos.</h2>

{{subscription-form}}

<p>Free. No Spam. No waffle. Weekly. Delivered directly to your inbox. Unsubscribe at any time.</p>