{{remember-document-scroll key="past-conferences"}}

<section class="past-conferences">

  <div class="video-cards">
    {{#each model.presentationTopics as |video|}}
      <div class="card-holder">
        {{video-card model=video use-featured=true}}
      </div>
    {{/each}}
  </div>

{{#box-callout class="gemconf-sponsors"}}
  <h2>Sponsors</h2>
  <p>Big 🙇 to our sponsors for helping us bring this event to you.</p>

  {{gem-sponsor-links sponsors=model.sponsors}}

{{/box-callout}}

</section>