{{scroll-to position=0}}

<section class="training-header">
  <div class="page-wrap">
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_bprp4egb1x videoFoam=true" style="height:100%;width:100%">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="training-summary">
    <div class="page-wrap">
      <p>
        <strong>3-part course over 3 weeks</strong> including pre-recorded videos, interactive workshop and post workshop support
      </p>
      <p>
        Upcoming series on Dec 13th, Jan 12th and Jan 18th
      </p>
      <p>
        Available in local timezones for Asia, Europe and Americas
      </p>
    </div>
  </div>
</section>

<section class="training-will-learn page-wrap training-section">

  <h2>What you'll learn</h2>
  <div class="section-content">
    <ul>
      <li>How to authenticate users with <strong>Username &amp; Password</strong> and <strong>oAuth 2</strong></li>
      <li>Learn the difference between <strong>Authentication</strong> and <strong>Authorization</strong></li>
      <li>Learn how to use <strong>Torii</strong> and <strong>Ember Simple Auth</strong> In your application</li>
      <li>Understand common security considerations of different authentication scenarios</li>
      <li>Understand the difference between <strong>Implicit Grant</strong> and <strong>Resource Owner Password Credentials</strong> flows</li>
      <li>How to manage authentication session in Ember applications</li>
    </ul>
    <span class="gabby-rocker">
      Rock and roll with ember!
    </span>
  </div>
</section>

<section class="training-section training-perfect-for">
  <div class="page-wrap">
    <h2>This course is perfect for...</h2>
    <div class="section-content">
      <div class="perfect-for">
        <p>
          We will prepare you for building authentication into your application and give you the confidence to know that you understand all common approaches to authentication.
        </p>
        <p>
          Most of our students are either building their first Ember application or working in professional environments. This course requires basic familiarity with Ember and different elements of Ember applications.
        </p>
      </div>
      <aside class="testimonials">
        <blockquote>
          <p>
            Thank you so much @balint and @mauty, was a definitely worth the time and money.
          </p>
          <footer>
            <span class="photo">
              <img src="/assets/images/rare/philip.png" alt="" />
            </span>
            Philip <br> Southam
          </footer>
        </blockquote>
        <blockquote>
          <p>
            The concept videos before the talk were a big help; if anyone missed those I'd suggest taking a look.
          </p>
          <footer>
            <span class="photo">
              <img src="/assets/images/rare/nicholas.png" alt="" />
            </span>
            Nicholas <br> Rutherford
          </footer>
        </blockquote>
        <blockquote>
          <p>
            This workshop is the fastest way to become comfortable with authentication in Ember applications.
          </p>
          <footer>
            <span class="photo">
              <img src="/assets/images/rare/taras.jpg" alt="" />
            </span>
            Taras <br> Mankovski
          </footer>
        </blockquote>
      </aside>
    </div>
  </div>
</section>

<section class="page-wrap training-general training-section">
  <div class="about-trainer">
    <div class="instructor">
      <h2>Who will teach you?</h2>
      <img src="https://embermeetup.com/wp-content/uploads/RARE-Balint.png" alt="Balint Erdi's portrait"/>
      <p>Balint Erdi is a full stack developer. As a teacher, Balint taught thousands of people to learn Ember through his book <em> Rock and Roll with Ember.js</em>.</p>
    </div>
    <div class="training-why-us">
      <h3>Why learn with us?</h3>
      <p>
        We believe your time is valuable, so we focus on making our training experience high in information density. We use edited videos to give each learner the fundamentals needed so that everyone in the group is prepared for the workshop. Everyone learns best by doing and this allows our workshops to be 100% exercise based.
      </p>
      <h3>How will you learn?</h3>
      <p>
        You will receive access to a collection of videos 2 weeks before the online workshop. In the workshop, Balint will take you through a series of exercises to demonstrate and explain how to implement authentication in an Ember app. After the workshop, you’ll receive access to Slack channel where you can ask questions as you add authentication to your app.
      </p>
      <h3>What if you have questions?</h3>
      <p>
        Because seats are limited, everyone will have a chance to ask questions during the workshop.  After in the Slack channel after the workshop and you get a one-on-one 45 minute pair programming session with a mentor who can answer questions specific to your application.
      </p>
    </div>
  </div>
  <div class="training-details clearfix">
    <div class="training-box videos">
      <h3>What videos are included?</h3>
      <p>
        The course includes 25 minutes of video content that introduction to the following topics: authentication and authorization, OAuth 2.0, ember-simple-auth and Torii. Afterwards, you will receive a recording of your live workshop.
      </p>
    </div>
    <div class="training-box rare-book">
      <h3>New to Ember?</h3>
      <p>
        Beginners are welcome, but please go through the Ember Guides before the workshop. To gain deeper understanding of Ember consider reading Balint’s Rock and Roll with Ember.js book.
      </p>
    </div>
    <div class="training-box ember-cli">
      <h3>What do you need?</h3>
      <p>
        You need a computer that has EmberCLI installed, a GitHub account, Chrome and latest version of Ember Inspector.
      </p>
    </div>
  </div>
</section>

<section class="page-wrap workshops-section training-section">
  <h2>Available workshops</h2>
  <div class="section-content">
    <ul class="timezones">
      <li>
        <h3>Asian timezone</h3>
        <strong>Dec 13th - 12pm - 4pm JST (GMT+9)</strong><br>
        <a href="https://www.eventbrite.com/e/implementing-authentication-in-ember-asian-timezone-tickets-28810984430" class="button red-button" target="_blank">
          Book this workshop for <strong>$495</strong> <i class="fa fa-chevron-right"></i>
        </a>
      </li>
      <li>
        <h3>European timezone</h3>
        <strong>Jan 12th - 12pm - 4pm BST (GMT)</strong><br>
        <a href="https://www.eventbrite.com/e/implementing-authentication-in-ember-european-timezone-tickets-28926698534" class="button red-button" target="_blank">
          Book this workshop for <strong>$495</strong> <i class="fa fa-chevron-right"></i>
        </a>
      </li>
      <li>
        <h3>Americas timezone</h3>
        <strong>Jan 18th - 12pm - 4pm EST (GMT-5)</strong><br>
        <a href="https://www.eventbrite.com/e/implementing-authentication-in-ember-americas-timezone-tickets-28926729627" class="button red-button" target="_blank">
          Book this workshop for <strong>$495</strong> <i class="fa fa-chevron-right"></i>
        </a>
      </li>
    </ul>
    <div class="limited-seats">
      <strong>Each workshop is limited to 16 participants</strong> in order to ensure learners can get their questions answered by our instructors and mentors.
    </div>
    <aside class="more-info">
      <h3>More info?</h3>
      Ask us anything by email or DM on twitter: <br> <br>
      <a href="mailto:hi@embermeetup.com"><i class="fa fa-envelope-o"></i> hi@embermeetup.com</a> <br> <br>
      <a href="https://twitter.com/EmberMeetup" target="_blank"><i class="fa fa-twitter"></i> EmberMeetup</a>
    </aside>
  </div>
</section>

<section class="training-subscribe training-section">
  <h3>Can’t make it for these dates?</h3>
  {{ember-chimp label="Subscribe"
      placeholder="Your Email Here"
      formAction="//embersherpa.us12.list-manage.com/subscribe/post?u=81e8e3fa2a6f79fe97467029a&amp;id=05fb609e3f"
      buttonText="Subscribe"
      loadingText="Loading"
  }}
</section>

{{#if showTickets}}
  {{#modal-dialog
    container-class="pricing-modal"
    close=(action (toggle 'showTickets' this))
    targetAttachment="center"
    translucentOverlay=true
  }}
    <iframe src="//eventbrite.com/tickets-external?eid=28810984430&ref=etckt"
            frameborder="0" height="308" width="100%" vspace="0"
            hspace="0" marginheight="5" marginwidth="5" scrolling="auto"
            allowtransparency="true">
    </iframe>
  {{/modal-dialog}}
{{/if}}
