{{head-data
  title="Rock and Roll with Ember.js"
  classNames="rock-and-roll-ember"
  withHero=true
  heroImage="/assets/images/RARE-Logo.png"
  heroSubTitle="Complete hands-on Introduction to authentication in Ember.js applications"
}}
{{scroll-to position=0}}

<div>
asdfasdf
</div>