{{head-data
  title="The Ember Show"
  classNames="the-ember-show"
  heroImage="/assets/images/The-Ember-Show-Header.svg"
}}
{{scroll-to position=0}}

<div class="episodes-page">
  <h1 class="episodes-page--title">Season {{season}}</h1>
  
  {{#each model as |episode|}}
    {{episode-strip episode=episode}}
  {{/each}}
  
</div>
