{{nav-header}}

{{#each model as |video|}}
  <div class="video-card">
    <h2 class="video-card--title">{{video.title}}</h2>
    <div class="video-card--excerpt">{{video.excerpt}}</div>
  </div>
{{/each}}
